body {
  font-family: Garamond, serif;
  border: 60px solid white;
}




/* Navigation Bar */




#home {
  background-color: #bc55002a;
  padding-bottom: 1cm;
  margin-left: -1cm;
  margin-right: -1cm;
  margin-top: -1cm;
  padding-top: 2cm;
  padding-bottom: 2cm;
  height: 5mm;
}




.topmenu {
  color: lightgray;
  margin: 15px;
  padding: 15px;
  font-size: 25px;
  font-variant: small-caps;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(61, 9, 18, 0.623);
}




.topmenu:hover {
  color: white;
  font-size: 25px;
  font-family: Garamond, serif;
  font-weight: bolder;
  text-decoration: underline;




}




.topdiv {
  float: right;
  padding-right: 1cm;
}




.profile_name {
  float: left;
  border-style: ridge;
  border-color: bisque;
  margin-left: 2px;
  padding-left: 1cm;
  font-size: 18px;
  color: rgba(53, 36, 39, 0.623);
  font-weight: bold;
  font-family: Garamond, serif;
  background-color: rgba(255, 191, 191, 0.171);
}




.profile_name .contact_info {
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-emphasis: none;
}




.contact_info img {
  width: 20px;
  margin-right: 10px;
  float: left;
  text-emphasis: none;
}




/* Titles */




h2 {
  text-align: justify;
  font-size: 50px;
  text-align: center;
  float: left;
  color: #bc55002a;
  margin: 30px;
  margin-left: 60px;
  margin-top: 40px;
  margin-bottom: 0px;
}




.introduction {
  text-align: justify;
  font-size: 30px;
  text-align: center;
  float: left;
  margin-top: 30px;
  margin-bottom: 20px;
  animation-duration: 5s;
  position: relative;
}




/* Used in the About Me sections */




.container {
  display: flex;
  margin-top: 15px;
  border-style: groove;
  background-color: rgba(255, 191, 191, 0.171);
}




/* About Me */




.about-me {
  display: flex;
  align-items: center;
}




#about-me h1 {
  font-size: 42px;
  margin-top: 90px;
  color: #bc55002a;
  align-items: center;
  text-align: center;
  text-shadow: 2px 2px #8b8585;
}




#about-me p {
  font-size: 25px;
  color: rgb(128, 128, 128);
  margin-top: -1cm;
  align-items: center;
  text-align: center;
}




.profile_image {
  width: 300px;
  height: fit-content;
  vertical-align: middle;
  margin: 15px;
  margin-top: 15px;
}




/* Skills */




.all_skills {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}




.skill {
  border: 1px solid gray;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 20px;
  box-shadow: 0 3px 10px gray;
}




.skill img {
  height: 35px;
  align-items: center;
}




.skills h6 {
  align-items: center;
  font-size: 20px;
  margin-block-start: 8px;
  margin-block-end: 5px;
  font-weight: bold;
}




.skills p {
  align-items: center;
  font-size: 15px;
  color: gray;
  margin-block-start: 5px;
  margin-block-end: 5px;
}




.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}




/* Projects */




.projects-container {
  margin-top: 30px;
  margin-left: 60px;
}




.projects-container hr {
  border: 1px solid lightgray;
  width: 75%;
  margin-left: 5cm;
}




.project-card {
  margin: 0 15px 15px 30px;
  padding-bottom: 5px;
}




.project-card h3 {
  font-size: 25px;
  margin-left: 30px;
}




.project-card li {
  font-size: 20px;
  margin-left: 30px;
}




/* Recommendations */

#all_recommendations {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  flex-wrap: wrap; /* Allow wrapping to new line */
}

.recommendations-title {
  margin-bottom: 200px; /* Adjust this value as needed */
}

.recommendation {
  font-style: italic;
  text-align: center;
  width: 18rem;
  padding: 3rem;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 5px;
  margin: 5px;
  border: 1px solid gray;
  font-size: 25px;
  height: 100px;
  flex: 0 0 100%; /* Set box width to 100% on smaller screens */
  @media (min-width: 768px) {
    flex: 0 0 calc(33.33% - 20px); /* Adjust for 3 columns with margins */
  }
}

.recommendation span {
  color: #bc55002a;
  font-size: 20px;
  font-family: Garamond, serif;
}





/* Scroll to Top Button */




.iconbutton {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #bc55002a;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 3%;
  bottom: 3%;
  cursor: pointer;
}




/* Form Pop-up */




.popup {
  width: 400px;
  background-color: #c3acc7;
  border-radius: 3mm;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  position: fixed;
  /* padding: 30px; */
  visibility: hidden;
}




.popup img {
  padding-top: 20px;
}




.popup button {
  background-color: #fff;
  border: 1px solid #bc55002a;
  color: #bc55002a;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 20px;
  margin-left: 25%;
}




.popup button:hover {
  background-color: #fff;
  border: 2px solid #bc55002a;
  color: #bc55002a;
  display: block;
  font-weight: bolder;
  text-align: center;
  cursor: pointer;
  margin-left: 25%;
}




/* Recommendation Form */




input,
textarea {
  font-family: Garamond, serif;
  margin: 10px;
  width: 100%;
}




fieldset {
  display: flexbox;
  align-content: center;
  justify-content: center;
  padding: 25px;
  margin-left: 50px;
  margin-right: 50px;
  border: thin solid white;
  width: 50%;
}




/* Buttons */




button {
  background-color: #fff;
  border: 1px solid #bc55002a;
  color: #bc55002a;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 20px;
}




button:hover {
  background-color: #bc55002a;
  border: 1px solid #bc55002a;
  color: #fff;
  display: block;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
}
